.container {
    background-color: rgb(255, 255, 255);
}

.img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

.recipe-image {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.external-method {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }